fastapi==0.111.0
uvicorn
SQLAlchemy
alembic
sqlmodel
pydantic
sqlalchemy-utils
requests
python-dotenv
psycopg2-binary
email-validator~=2.0.0.post2
sentry-sdk
Werkzeug
mailjet_rest
cryptography
itsdangerous
binance-connector~=3.4.0
aiocache~=0.12.2
aioredis~=2.0.1
redis
python-jose
jwt~=1.3.1
httpx~=0.25.0
click~=8.1.7
bscscan-python~=2.0.0
fastapi-mail

